# 환경 파일 및 비밀 키 관련
.env
.secret
.vscode
.idea

# 시스템 파일
Thumbs.db
*.swp
.sass-cache/
*.sublime-workspace
*.sublime-project

# 로그 파일
logs
*.log

# OS별 숨김 파일
*.bak
*.tmp
*.old

# 빌드 아티팩트
dist/
out/
target/

# 라이브러리와 패키지
/.bundle
/.vscode/
node_modules/

# 템포러리 파일
*.tmp
*.cache
